<header class="w-full flex justify-center items-center h-24 shadow dark:bg-gray-800 dark:border-gray-700 bg-white">
    <div class="h-full w-11/12 flex justify-between items-center">
        <span routerLink=""><img class="h-12 cursor-pointer" [src]="logo" alt="logo"></span>
        <ul class="flex gap-4 text-black font-medium capitalize text-lg duration-200">
            <li class="hover:bg-gray-200 h-10 flexx rounded-2xl w-24">
                <a routerLink="/about">about us</a>
            </li>
            
            <li class="hover:bg-gray-200 h-10 flexx rounded-2xl w-28">
                <a routerLink="/contactus">contact us</a>
            </li>
           
           <li class="hover:bg-gray-200 h-10 flexx rounded-2xl w-24">
                <a routerLink="/blogs" class="text-white uppercase">blogs</a>
            </li>
            <!-- 
            <li>
                <a routerLink="admin/manageblogs" class="text-white uppercase">manage blogs</a>
            </li> -->
        </ul>
        <div class="flex justify-center items-center mobile:hidden tablet:flex laptop:flex desktop:flex">
            <app-avatar [user]="true" [profile]="true"  class="mr-4"></app-avatar>
            <button routerLink="/signup" *ngIf="!isUser" class="bg-teal-600 ease-in-out duration-200 hover:bg-teal-500 text-white font-medium py-2 px-4 rounded-full capitalize mr-2">get started</button>
            <button routerLink="/login" *ngIf="!isUser" class="ease-in-out duration-200 hover:bg-gray-300 text-black font-medium py-2 px-4 rounded-full capitalize">log in</button>
            <button routerLink="/login" *ngIf="isUser" (click)="Logout()" class="ease-in-out duration-200 hover:bg-gray-300 text-black font-medium py-2 px-4 rounded-full capitalize">log out</button>
        </div>
        <div (click)="OpenSideBar()" class="tablet:hidden laptop:hidden desktop:hidden">
            <svg class="w-10 h-10 cursor-pointer fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM64 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L96 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg>
        </div>
    </div>
</header>
  
