<header class="w-full flex justify-center items-center z-50 h-20 bg-blue-500"  [ngStyle]="{'z-index':'2'}"> 
    <div class="h-full w-10/12 flex justify-between items-center">
        <div class="flex w-2/6">
            <span routerLink=""><img class="h-10 cursor-pointer" [src]="logo" alt="logo"></span>
        </div>
        <div class="flex w-2/6 justify-center items-center">
            <ul class="flex gap-10 font-medium capitalize text-md duration-200">
                <li (click)="ChangeColor(home)" id="home" #home class="hover:text-gray-200 h-10 p-1 opacity-90 flexx rounded-lg text-white">
                    <a routerLink="/home">home</a>
                </li>
                <li (click)="ChangeColor(about)" id="about" #about class="hover:text-gray-200 h-10 p-1 opacity-90 flexx rounded-lg text-white">
                    <a routerLink="/about">about</a>
                </li>
                
                <li (click)="ChangeColor(contact)" id="contact" #contact class="hover:text-gray-200 h-10 p-1 opacity-90 flexx rounded-lg text-white">
                    <a routerLink="/contactus">contact</a>
                </li>
               
               <li (click)="ChangeColor(blogs)" id="blogs" #blogs class="hover:text-gray-200 h-10 p-1 opacity-90 flexx rounded-lg text-white">
                    <a  routerLink="/blogs">blogs</a>
                </li>
                <li (click)="ChangeColor(admin)" id="admin" #admin class="hover:text-gray-200 h-10 p-1 opacity-90 flexx rounded-lg text-white">
                    <a  routerLink="/admin" >Admin</a>
                </li> 
            </ul>
        </div>
        <div class="flex w-2/6 justify-end items-center">
            <div class="flex justify-center items-center mobile:hidden tablet:flex laptop:flex desktop:flex">
                <app-avatar [user]="true" [profile]="true" [avatar]="'/assets/male.png'" class="mr-2"></app-avatar>
                <button type="button" routerLink="/login" class="group text-sm relative overflow-hidden rounded-md bg-blue-500 py-2 px-6 text-white font-medium ease-in-out duration-1000 capitalize mr-2"><span>login</span><div class="absolute inset-0 h-full w-0 bg-white/30 transition-[width] group-hover:w-full"></div></button>
                <button type="button" routerLink="/signup" *ngIf="!isUser" class="text-sm ease-in-out duration-200 hover:bg-blue-400 text-white font-medium py-2 px-6 rounded-md capitalize border-2 border-slate-100/60">sign up</button>
            </div>
            <div (click)="OpenSideBar()" class="tablet:hidden laptop:hidden desktop:hidden">
                <svg class="w-10 h-10 cursor-pointer fill-white tablet:hidden laptop:hidden desktop:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM64 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L96 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg>
            </div>
        </div>
    </div>
</header>
  
