<section class="flex justify-center items-center w-full bg-gradient-to-b from-blue-500 via-blue-500 to-blue-400">
    <div class="w-6/12 flexx flex-col p-14 cursor-default">
        <h1 class="capitalize !font-thin w-9/12 text-center !text-8xl text-white !m-4 !tracking-wide ">welcome</h1>
        <p class="archivo-font text-md leading-9 capitalize opacity-90 text-center text-white !m-2 !mt-6 !mb-4 font-thin">We're thrilled to have you here! This is your go-to place for your joy. Whether you're just starting or you're a seasoned pro, you'll find content to inspire, educate, and empower you.</p>
        <button type="button" routerLink="/signup" class="text-xl mt-6 ease-in-out duration-200 hover:bg-blue-400 text-white font-medium py-2 px-6 rounded-md capitalize border-2 border-slate-100/60">join us</button>
    </div>
    <div class="w-6/12 flexx p-14">
        <div class="mt-12">
            <img class="cursor-default" [ngStyle]="{'height' : '500px'}" [src]="img" alt="mobile-image">
        </div>
    </div>
</section>
