<div class="flex justify-center items-center w-full">
    <div class="w-10/12 flex justify-center items-center h-full m-20">
            <form [formGroup]="confEmailForm" class="flex flex-col gap-2 p-12 w-6/12" >

                <h2 class="capitalize font-bold text-4xl">confirm email</h2>

                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white capitalize">email</label>
                <div class="relative mb-3">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17l0 80c0 13.3 10.7 24 24 24l80 0c13.3 0 24-10.7 24-24l0-40 40 0c13.3 0 24-10.7 24-24l0-40 40 0c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/>
                        </svg>
                    </div>
                    <input formControlName="email" type="text" class="h-11 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••">
                </div>

                <button (click)="Submit()" class="text-2xl mt-6 bg-teal-600 ease-in-out duration-200 hover:bg-teal-500 text-white font-medium py-2 px-4 rounded-md capitalize">submit</button>
            </form>
    </div>
</div>

 