<section class="my-10 px-20">
    <div class="flex justify-between px-10">
        <h1>manage blogs</h1>
        #open a pop up to add blog
        <button mat-raised-button color="primary" >create new blog</button>
    </div>
    <mat-form-field class="w-full">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="FilterTbl($event)" placeholder="Search" #input>
      </mat-form-field> 
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort> 
      
          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
          </ng-container>
      
          <ng-container matColumnDef="CategoryId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> category </th>
            <td mat-cell *matCellDef="let row"> {{GetCategoryName(row.category)}}</td>
          </ng-container>
      
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> actions </th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-raised-button color="accent" class="mr-4" [routerLink]="'/admin/blog/updateblog/'+row.id">edit</button>
                <button mat-raised-button color="warn" (click)="Delete(row)">delete</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

           <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
           </tr> 
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
</section>

  
  