<div class="w-full flexx overflow-hidden " [ngStyle]="{'min-height':'750px'}">
    <div class="w-full flexx pp">
        <div class="w-11/12 flexx">
            <div class="flexx flex overflow-hidden">
                <div class="w-6/12 h-full flexx ">   
                    <div class="flexx flex-col mb-10">
                        <h1 class="w-8/12 flexx opacity-80 font-bold inter text-orange-600" [ngStyle]="{'font-size':'12rem'}">404</h1>
                        <h2 class="w-8/12 flexx opacity-80 font-bold inter text-orange-600 drop-shadow-xl" [ngStyle]="{'margin-top':'-20%','font-size':'8rem'}">error</h2>
                        <p class="w-8/12 flexx opacity-80 font-bold text-4xl capitalize volkov">Oops! Page Not Found </p>
                        <p class="w-10/12 flexx text-sm capitalize font-semibold mt-5 text-center inter opacity-80 leading-7">We’re sorry, but the page you’re looking for doesn’t seem to exist. It might have been moved, deleted, or the URL could be incorrect</p>
                        <button routerLink="/home" type="button"  class="flexx capitalize bg-amber-400 hover:bg-amber-500 duration-200 focus:outline-none font-medium rounded-lg text-xl px-6 py-3 text-center me-2 mb-2 dark:amber-200 dark:hover:amber-400 dark:focus:ring-amber-500 mt-7 inter">back home</button>
                    </div>      
                </div>
                <div class="w-6/12 h-full">
                    <div><img class="cursor-pointer" [ngStyle]="{'height':'750px','margin-top':'-8%'}" [src]="img" alt=""></div>
                </div>
            </div>
        </div> 
    </div> 
</div>
