<div class="flex justify-center items-center w-full flex-col h-full">

    <div class="w-full flexx mt-12">
        <img class="h-12 cursor-pointer" [src]="logo" alt="logo">
    </div>

    <div [ngStyle]="{'margin-top':'3%'}" class="w-8/12 flex flex-col justify-center items-center h-full m-20 shadow-lg border-2 border-slate-100">
     
            <div class="relative flexx flex-col mb-3 pt-8 overflow-hidden w-6/12">
                <h2 class="!mb-0 !font-medium opacity-90 capitalize">join us</h2>
                <p class="!mt-4 opacity-60 text-md text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo optio fugiat corporis porro adipisci possimus? Aut voluptas, earum magni corporis sapiente voluptates facere impedit quos delectus, perferendis quo at ab.</p>
            </div>

            <form [formGroup]="signUpForm" class="flex flex-col gap-2  w-11/12 ">
                

                <div class="flex justify-center items-start w-full">


                    <div class="w-6/12 flexx flex-col p-4">

                        <div class="w-full" [ngClass]="{'mb-8':!DisplayError('fullname'),'mb-0':DisplayError('fullname')}">
                            <input placeholder="Full Name" id="fullname-input" type="text" formControlName="fullname" class="h-12 bg-gray-50 text-gray-900 text-sm rounded-lg border border-gray-200 focus:outline-none focus:ring focus:border-blue-500 duration-200 block w-full p-2.5">
                        </div>
        
                        <div class="flexx w-full text-red-500 text-sm capitalize h-6 mb-3" *ngIf="DisplayError('fullname')">
                            <div *ngIf="signUpForm.controls['fullname'].hasError('required')">
                                <p class="!mt-5">please enter your full name correctly.</p>
                            </div>        
                            <div *ngIf="signUpForm.controls['fullname'].hasError('maxLength')">
                                <p class="!mt-5">please enter your full name with maximum 32 chars.</p>
                            </div>   
                            <div *ngIf="signUpForm.controls['fullname'].hasError('minLength')">
                                <p class="!mt-5">please enter your full name with minimum 12 chars.</p>
                            </div>                
                        </div>
        
                        <div class="w-full" [ngClass]="{'mb-8':!DisplayError('email'),'mb-0':DisplayError('email')}">
                            <input placeholder="Email" id="email-input" type="text" formControlName="email" class="h-12 bg-gray-50 text-gray-900 text-sm rounded-lg border border-gray-200 focus:outline-none focus:ring focus:border-blue-500 duration-200 block w-full p-2.5">
                        </div>
        
                        <div class="flexx w-full text-red-500 text-sm capitalize h-6 mb-3" *ngIf="DisplayError('email')">
                            <div *ngIf="signUpForm.controls['email'].hasError('required')">
                                <p class="!mt-5">please enter your email address.</p>
                            </div>
                            <div *ngIf="signUpForm.controls['email'].hasError('email')">
                                <p class="!mt-5">please enter your email address correctly.</p>
                            </div>
                            <div *ngIf="signUpForm.controls['email'].hasError('maxLength')">
                                <p class="!mt-5">please enter your email with maximum length of 254.</p>
                            </div>
                            <div *ngIf="signUpForm.controls['email'].hasError('minLength')">
                                <p class="!mt-5">please enter your email with minimum length of 7.</p>
                            </div>
                        </div>
                        
                        <div class="w-full" [ngClass]="{'mb-8':!DisplayError('password'),'mb-0':DisplayError('password')}">
                            <input id="password-input" placeholder="Password" type="text" formControlName="password" class="h-12 bg-gray-50 text-gray-900 text-sm rounded-lg border border-gray-200 focus:outline-none focus:ring focus:border-blue-500 duration-200 block w-full p-2.5">
                        </div>
        
                        <div class="flexx w-full text-red-500 text-sm capitalize h-6 mb-3" *ngIf="DisplayError('password')">
                            <div *ngIf="signUpForm.controls['password'].hasError('required')">
                                <p class="!mt-5">please enter your password correctly.</p>
                            </div>        
                            <div *ngIf="signUpForm.controls['password'].hasError('maxLength')">
                                <p class="!mt-5">please enter your password with maximum 150 chars.</p>
                            </div>   
                            <div *ngIf="signUpForm.controls['password'].hasError('minLength')">
                                <p class="!mt-5">please enter your password with minimum 10 chars.</p>
                            </div>                
                        </div>
                        
                        
                        <div class="w-full" [ngClass]="{'mb-8':!DisplayError('gender'),'mb-0':DisplayError('gender')}">
                            <select id="gender-input" formControlName="gender" class="h-12 bg-gray-50 border border-gray-200 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring focus:border-blue-500 duration-200 block w-full p-2.5">
                                <option selected="">Choose a gender</option>
                                <option value="male" class="capitalize">male</option>
                                <option value="female" class="capitalize">female</option>
                            </select>
                        </div>
        
                        <div class="h-12 flexx w-full text-red-500 text-sm capitalize h-6 mb-3" *ngIf="DisplayError('gender') && signUpForm.controls['gender'].hasError('required')">
                            <p class="!mt-5">please select a gender.</p>
                        </div>

                    </div>

                    <div class="w-6/12 flexx flex-col p-4">

                        <div class="w-full" [ngClass]="{'mb-8':!DisplayError('username'),'mb-0':DisplayError('username')}">
                            <input placeholder="Username" id="username-input" type="text" formControlName="username" class="h-12 bg-gray-50 text-gray-900 text-sm rounded-lg border border-gray-200 focus:outline-none focus:ring focus:border-blue-500 duration-200 block w-full p-2.5">
                        </div>
        
                        <div class="flexx w-full text-red-500 text-sm capitalize h-6 mb-3" *ngIf="DisplayError('username')">
                            <div *ngIf="signUpForm.controls['username'].hasError('required')">
                                <p class="!mt-5">please enter your username correctly.</p>
                            </div>        
                            <div *ngIf="signUpForm.controls['username'].hasError('maxLength')">
                                <p class="!mt-5">please enter your username with maximum 30 chars.</p>
                            </div>   
                            <div *ngIf="signUpForm.controls['username'].hasError('minLength')">
                                <p class="!mt-5">please enter your username with minimum 6 chars.</p>
                            </div>                
                        </div>
        
        
                        <div class="w-full" [ngClass]="{'mb-8':!DisplayError('phone'),'mb-0':DisplayError('phone')}">
                            <div class="relative">
                                <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400 fill-blue-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 18">
                                        <path d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"/>
                                    </svg>
                                </div>
                                <input id="phone_number-input" formControlName="phone" type="text"  aria-describedby="helper-text-explanation" class="h-12 bg-gray-50 border border-gray-200 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring focus:border-blue-500 duration-200 block w-full ps-10 p-2.5"  placeholder="Phone Number" />
                            </div>
                        </div>
            
                        <div class="flexx w-full text-red-500 text-sm capitalize h-6 mb-3" *ngIf="DisplayError('phone')">
                            <div *ngIf="signUpForm.controls['phone'].hasError('required')">
                                <p class="!mt-5">please enter your phone number correctly.</p>
                            </div>        
                            <div *ngIf="signUpForm.controls['phone'].hasError('maxLength')">
                                <p class="!mt-5">please enter your phone number with maximum 15 number.</p>
                            </div>   
                            <div *ngIf="signUpForm.controls['phone'].hasError('minLength')">
                                <p class="!mt-5">please enter your phone number with minimum 8 number.</p>
                            </div>                
                        </div>
        
                        
                        <div class="w-full" [ngClass]="{'mb-8':!DisplayError('confirmpassword'),'mb-0':DisplayError('confirmpassword')}">
                            <input id="confirmpassword-input" placeholder="Confirm password" type="text" formControlName="confirmpassword" class="h-12 bg-gray-50 text-gray-900 text-sm rounded-lg border border-gray-200 focus:outline-none focus:ring focus:border-blue-500 duration-200 block w-full p-2.5">
                        </div>
        
                        <div class="flexx w-full text-red-500 text-sm capitalize h-6 mb-3" *ngIf="DisplayError('confirmpassword') && signUpForm.controls['confirmpassword'].hasError('passwordMissMatch')">
                            <p class="!mt-5">passwords doesn't match.</p>
                        </div>


                    </div>
                </div>
                
                <div class="w-full flexx">
                    <button type="button" (click)="SignUp()" class="text-lg w-8/12 mt-3 mb-4 bg-blue-500 ease-in-out duration-200 hover:bg-blue-600 text-white font-medium py-3 px-4 rounded-md capitalize">sign up</button>    
                </div>

                <div class="flexx opacity-70  mb-6">
                    <div>
                        <div><label routerLink="/login" class="text-sm font-medium text-gray-900 dark:text-gray-300 cursor-pointer">Already have an account?</label></div>
                    </div>
                </div>
                
            </form>
    </div>
</div>
